$background-color: #369ce0;
$font-color: #242424;
$size: 18px;

.sideNav-container {
  width: 20vw;
  height: 100vh;
  background-color: $background-color;
  color: $font-color;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sideNav-header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideNav-body {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.sideNav-body-link {
  color: $font-color;
  text-decoration: none;
  font-size: $size;
  font-weight: 500;
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
}
.sideNav-body-link p {
  margin: 0px 0px 0px 20px;
}

.sideNav-filter {
  display: flex;
  height: 20px;
  width: 18vw;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 30px 0px;
  cursor: pointer;
}

.sideNav-items {
  position: absolute;
  left: 20px;
  top: 55vh;
  width: 10vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.sideNav-container-open{
    width: 20vw;
  height: 100vh;
  background-color: $background-color;
  color: $font-color;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .sideNav-container {
    display: none;
  }
  .sideNav-container-open {
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100vh;
    background-color: $background-color;
    color: $font-color;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .sideNav-container {
    display: none;
  }
  .sideNav-container-open {
    position: absolute;
    right: 0;
    top: 0;
    width: 40vw;
    height: 100vh;
    background-color: $background-color;
    color: $font-color;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .sideNav-filter{
    width: 30vw;
    
  }
  .sideNav-filter h3{
    font-size: 15px;
  }
  .sideNav-items {
    position: absolute;
    left: 20px;
    top: 55vh;
    width: 25vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .sideNav-header h2{
    font-size: 20px;
  }
  .sideNav-body{
    font-size: 15px;
  }
  .sideNav-body-link{
    font-size: 15px;
  }
}


@media screen and (max-width: 450px) {
  .sideNav-container {
    display: none;
  }
  .sideNav-container-open {
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    background-color: $background-color;
    color: $font-color;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .sideNav-filter{
    width: 40vw;
    
  }
  .sideNav-filter h3{
    font-size: 15px;
  }
  .sideNav-items {
    position: absolute;
    left: 20px;
    top: 55vh;
    width: 35vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .sideNav-header h2{
    font-size: 20px;
  }
  .sideNav-body{
    font-size: 15px;
  }
  .sideNav-body-link{
    font-size: 15px;
  }
}
